<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>

<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    Account
    <select id="account_id" name="account_id">
        <%
        var noDups = [];
        for(var i=0; account.length > i; i++ ) {
            var selected = "";
            var fname = account[i].first_name;
            var lname = account[i].last_name;
            var flname = fname + " " + lname;
            if(noDups.indexOf(flname) == -1){
                //console.log("Adding %s" % (flname));
                noDups.push (flname);
            }
            else{
                //console.log ("Not adding");
                continue;
            }
        %>
        <option value="<%= account[i].account_id %>"><%= flname %></option>
        <% } %>
    </select>

    <br />
    <br />
    Skill
    <select id="skill_id" name="skill_id" multiple="multiple">
        <%  var noDups = [];
            for(var i=0; skill.length > i; i++ ) {
                var sk_name = skill[i].name;
                if (noDups.indexOf(sk_name) == -1){
                    noDups.push (sk_name);
                }
                else{
                    continue;
                }
        %>
            <option value="<%= skill[i].skill_id %>"><%= sk_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />
    <br />
    Company
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].company_id %>"><%= company[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />
    <br />
    School
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_id %>"><%= school[i].school_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />
</form>

<br />
<form action="/resume/all">
    <input type="submit" value="Cancel and return"/>
</form>

<%- include("../includes/footer.ejs"); %>