<html>
<head>
    <title>Update <%= resume.resume_name%></title>
</head>
<body>
<h1>Update <%= resume.resume_name%></h1>
<form action="/resume/update" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />
    Account Name
    <select id="account_id" name="account_id">
        <% for(var i=0; account.length > i; i++ ) {
            var selected = "";
            if(account[i].account_id == resume.resume_id) {
                selected = "selected";
            }
        %>
        <option value="<%= account[i].account_id %>" <%= selected %>><%= account[i].first_name + ', ' + account[i].last_name %></option>
        <% } %>
    </select>

    <br />

    <input type="submit" />

</form>
</body>

</html>