<html>
    <head>
        <title>Resumes</title>
    </head>
    <body>
        <p>
            <a href="/">Back to Home</a>
        </p>

        <h1>Resumes</h1>
        <!--<a href="/resume/add">Add New Resume</a> <br />-->
        <form action="/resume/add">
            <input type="submit" value="Add New Resume"/>
        </form>

        <br />

        <table border="1">
            <tr><th>Resume Name</th><th>Account Name</th><th>Action</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].resume_name %></a></td>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].first_name %>
                        <%= result[i].last_name %></a></td>
                <td><form action="/resume/delete">
                        <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                        <input type="submit" value="Delete"/>
                    </form></td>
            </tr>
            <% } %>
        </table>
    </body>

</html>