<html>
    <head>
        <title>Skills</title>
    </head>
    <body>
        <p>
            <a href="/">Back to Home</a>
        </p>

        <h1>Skills</h1>

        <form action="/skill/add">
            <input type="submit" value="Add New Skill"/>
        </form>

        <br />

        <table border="1">
            <tr><th>Name</th><th>Description</th><th>Action</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <!--<td><%= result[i].skill_id%></td>-->
                <td><a href="/skill/?skill_id=<%= result[i].skill_id %>"><%= result[i].name %></a></td>
                <td><%= result[i].description %></td>
                <td><form action="/skill/delete">
                        <input type="hidden" name="skill_id" id="skill_id" value="<%= result[i].skill_id %>" />
                        <input type="submit" value="Delete"/>
                    </form></td>
            </tr>
            <% } %>
        </table>
    </body>

</html>