<%- include("../includes/header.ejs", {title:"Addresses - View All"}); %>
    <p>
        <a href="/">Back to Home</a>
    </p>

    <h1>Addresses</h1>

    <form action="/address/add">
        <input type="submit" value="Add New Address"/>
    </form>

    <br />

    <table border="1">
        <tr><th>Street</th><th>Zip Code</th><th>Action</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <!--<td><%= result[i].address_id%></td>-->
            <td><a href="/address/?address_id=<%= result[i].address_id %>"><%= result[i].street %></a></td>
            <td><%= result[i].zip_code %></td>
            <td><form action="/address/delete">
                    <input type="hidden" name="address_id" id="address_id" value="<%= result[i].address_id %>" />
                    <input type="submit" value="Delete"/>
                </form></td>
        </tr>
        <% } %>
    </table>
<%- include("../includes/footer.ejs"); %>