<html>
    <head>
        <title>Schools</title>
    </head>
    <body>
        <p>
            <a href="/">Back to Home</a>
        </p>
        <h1>Schools</h1>
        <a href="/school/add">Add New School</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Address</th><th>Action</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/school/?school_id=<%= result[i].school_id %>"><%= result[i].school_name %></a></td>
                <td><%= result[i].street %>, <%= result[i].zip_code %></td>
                <td><form action="/school/delete/">
                        <input type="hidden" name="school_id" id="school_id" value="?id=<%= result[i].school_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </body>

</html>